body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', arial;
    background-color: #ffffff;
    border: 1px red solid;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 1em 13em;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 12px;
}

.main {
    display: flex;
    justify-content: center;
    padding: 5em 13em;
    align-items: center;
    background-color: #1f2937;
}

.main-left {
    text-align: start;
    flex-basis: 400px;
    margin-right: 50px;
    margin-bottom: 45px;
    flex: 1;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.main-signup {
    border-radius: 8px;
    background: #3882f6;
    padding: 10px;
    width: 110px;
    border: none;
    font-weight: bold;
    color: #f9faf8;
}

.main-right {
    align-self: center;
    display: block;
}

.main-right img {
    height: auto;
    max-width: 100%;
}

