/* * {
    border: 1px red solid;
} */

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', arial;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Nav bar  */

.navbar {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 1em 13em;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 12px;
}

/* Main section  */

.main {
    display: flex;
    justify-content: center;
    padding: 5em 13em;
    align-items: center;
    background-color: #1f2937;
}

.main-left {
    text-align: start;
    flex-basis: 400px;
    margin-right: 50px;
    margin-bottom: 45px;
    flex: 1;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.main-signup {
    border-radius: 8px;
    background: #3882f6;
    padding: 10px;
    width: 110px;
    border: none;
    font-weight: bold;
    color: #f9faf8;
}

.main-right {
    align-self: center;
    display: block;
}

.main-right img {
    height: auto;
    max-width: 100%;
}

/* Content section  */

.content-title {
    padding: 1em;
    text-align: center;
    font-size: 36px;
    font-weight: 1300;
    color: #1f2937;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    margin-bottom: 5em;
}

.content-info img {
    width: 100%;
    display: block;
    border-radius: 10px;
    border: solid #3882f6;
}

.content-info {
    max-width: 300px;
}

/* Quote section  */

.quote {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 7em 13em;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: start;
}

.author {
    font-size: 28px;
    font-weight: bolder;
    text-align: end;
    color: #1f2937;
}

